# Cria o tipo/rótulo do serviço AIDL (rotulado no arquivo service_contexts)
type carbosensor_service, service_manager_type, vendor_service;

# Cria o tipo/rótulo do daemon (rotulado no arquivo file_contexts)
type carbosensor_daemon, domain;
type carbosensor_daemon_exec, exec_type, vendor_file_type, file_type;

# Permissões
init_daemon_domain(carbosensor_daemon);                        # O daemon será iniciado pelo init
vndbinder_use(carbosensor_daemon);                             # O daemon usará o binder
allow carbosensor_daemon servicemanager:binder { call transfer };

add_service(carbosensor_daemon, carbosensor_service)             # O daemon irá criar o serviço do smartlamp

# Permite acesso aos arquivos do /sys
allow carbosensor_daemon sysfs:file { getattr open read write };

# Cria e Permite leitura da propriedades de sistema do carbosensor
vendor_public_prop(vendor_carbosensor_prop)
allow carbosensor_daemon vendor_carbosensor_prop:file { open getattr map read };

# Permite que apps privilegiados acessem o daemon e o serviço
allow platform_app carbosensor_daemon:binder call;
allow platform_app carbosensor_service:service_manager find;

# Permite que apps normais acessem o daemon e o serviço
allow untrusted_app carbosensor_daemon:binder call;
allow untrusted_app carbosensor_service:service_manager find;
