service devtitans.carbosensor-service /vendor/bin/hw/devtitans.carbosensor-service
        interface aidl devtitans.carbosensor.ICarbosensor/default
        class hal
        user root
        group root